/*Estilo CSS general*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

/*Estilo del menu de navegacion*/
header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}
header nav{
    width: 100%;
    height: 100px;
    background-color: #19100e;
}
nav div{background-color: #19100e;}
a span#tituloMenu{
    color: #f9f9f9;
    font-weight: 700;
    font-size: 1.1em;
}
a span.menus{
    color: #f9f9f9;
    font-weight: 700;
    font-size: 1.05em;
}
button.btn{
    background-color: #7590ad;
    border: 2px solid #f9f9f9;
    border-radius: 10px;
}
button.navbar-toggler span {
    font-weight: 300;
    color: #f9f9f9;
    font-size: 0.9em;
}

/*estilo para los contenedores padre*/
.contenedorPadre01{background-color: #7590ad;} /*contenedor padre numero 1*/

.contenedorPadre02{background-color: #e6e8ef;} /*contenedor padre numero 2*/

section.contenedorPadre01 div h1{ /* estilo general del titulo h1 en contenedor padre 1*/
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #e6e8ef;
    margin-bottom: 15px;
}
section.contenedorPadre02 div h1{ /* estilo general del titulo h1 en contenedor padre */
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #19100e;
}
section.contenedorPadre01 div h3{
    display: flex;
    justify-content: center;
    font-weight: 300;
    color: #e6e8ef;
    margin-top: 15px;
    margin-bottom: 15px;
}
section.contenedorPadre01 hr{ /* estilo general del salto de linea h1 en contenedor padre 1*/
    border: 4px solid #e6e8ef;
    border-radius: 5px;
    width: 300px;
    height: 0px;
    margin: auto;
}
section.contenedorPadre02 hr{ /* estilo general del salto de linea h1 en contenedor padre 2*/
    border: 4px solid #19100e;
    border-radius: 5px;
    width: 300px;
    height: 0px;
    margin: auto;
}

/*estilo elementos generales */
.contenedorPadre02 p{
    margin-top: 25px;
}

#lemaTitulo{
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #e6e8ef;
    margin-top: 25px;
}

#lema{
    display: flex;
    justify-content: center;
    font-weight: 400;
    color: #e6e8ef;
    margin-top: 15px;
}

.card a{
    color: #19100e;
    text-decoration: none;
}

div#contenedorCards i{
    font-size: 6em;
    text-align: center;
    color:#19100e;
}

.form-control{
    background-color: #7590ad;
    border: none;
    border-radius: 10px;
    color: #e6e8ef;
    
}

.form-control:focus{
    background-color:#19100e !important;
    color: #e6e8ef;
    box-shadow: 0 0 0 0.25rem #7590ad !important;
}

footer{background-color: #19100e;}

section.contenedorFooter01 h5{
    font-weight: 700;
    text-align: center;
}

section.contenedorFooter01 p{text-align: center;}

#redesFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.contenedorFooter02{
    background-color: #110d0c;
    padding: 20px 0 20px 0;

}
.contenedorFooter02 p{
    font-size: 12px;
    font-weight: 300;
    color: #e6e8ef;
    text-align: center;
    margin: 0;
}

#contenedorHijo02{
    margin-top: 15px;
}
#redesFooter a{
    color: #e6e8ef;
}

#redesFooter a:hover {
    color: #7590ad;
}

.card a:hover{
    color: #7590ad;
}

#btnEnviar:hover{
    color: #e6e8ef;
    background-color: #19100e;
    border-color: #7590ad;
    border-width: 3px;
}

#botonMenu:hover{
    background-color: #19100e;
    border-color: #e6e8ef; 
    border-width: 3px;
}
/*--------------------Estilos CSS para distintas vistas de dispositivos-----------------------*/

/*Vistas móvil */
@media (max-width: 575px){
    .contenedorHijo01{
        margin: 0px;
        padding: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    #contenedorMenu{
        padding: 0px 25px;
    }
    #fotoHome{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
        width: 300px;
        height: auto;
    }
    .contenedorFooter01{
        margin: 0px;
        padding-top: 25px;
        padding-bottom: 15px;
        color: #e6e8ef;
        display: flex;
        flex-direction: column;
    }

    section.contenedorPadre01 div h1{
        text-align: center;
    }
    section.contenedorPadre02 div h1{
        text-align: center;
    }
    section.contenedorPadre01 div h3{
        text-align: center;
    }
    .contenedorPadre02 p{
        margin-top: 25px;
        text-align: justify;
    }
    
    #lemaTitulo, #lema{
        text-align: center;
    }
    #contenedorCards{
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .card{
        background-color: #e6e8ef;
        margin: 0px 5px 15px 5px;
        text-align: center;
        width: 45%;
        border: none;
        border-radius: 10px;
    }
    #redesFooter div .bi{
        font-size: 1.6em;
        padding: 10px;
    }
    nav a span.menus{
        font-size: 1.1em;
    }
    nav a span#tituloMenu{
        font-size: 1.1em;
    }
}

@media (min-width: 576px){
    .contenedorHijo01{
        margin: 0px;
        padding: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    #contenedorMenu {
        padding: 0px 25px;
    }
    #fotoHome{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
        width: 300px;
        height: auto;
    }
    .contenedorFooter01{
        margin: 0px;
        padding-top: 25px;
        padding-bottom: 15px;
        color: #e6e8ef;
        display: flex;
        justify-content: space-around;
    }

    section.contenedorPadre01 div h1{
        text-align: center;
    }
    section.contenedorPadre02 div h1{
        text-align: center;
    }
    section.contenedorPadre01 div h3{
        text-align: center;
    }
    .contenedorPadre02 p{
        margin-top: 25px;
        text-align: justify;
    }
    
    #lemaTitulo, #lema{
        text-align: center;
    }
    #contenedorCards{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    .card{
        background-color: #e6e8ef;
        text-align: center;
        margin: 5px;
        width: 25%;
        border: none;
        border-radius: 10px;
    }
    #redesFooter div .bi{
        font-size: 1.8em;
        padding: 10px;
    }
    nav a span.menus{
        font-size: 1.15em;
    }
    nav a span#tituloMenu{
        font-size: 1.15em;
    }

}
/* Vistas Tablet */
@media (min-width: 768px){
    .contenedorHijo01{
        margin: 0px;
        padding: 40px 100px;
        display: flex;
        flex-direction: column;
    }

    #contenedorMenu {
        padding: 0px 150px;
    }
    .navbar{
        position: sticky;
    }

    #fotoHome{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 330px;
        height: auto;
    }
    .contenedorFooter01{
        margin: 0px;
        padding-top: 50px;
        padding-bottom: 25px;
        color: #e6e8ef;
        display: flex;
        justify-content: space-around;
    }
    #contenedorCards{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    .card{
        background-color: #e6e8ef;
        margin-left: 10px;
        text-align: center;
        border: none;
        border-radius: 10px;
    }
    #redesFooter div .bi{
        font-size: 2em;
        padding: 10px;
    }
    nav a span.menus{
        font-size: 1.2em;
    }
    nav a span#tituloMenu{
        font-size: 1.2em;
    }

}

@media (min-width: 992px){
    .contenedorHijo01{
        margin: 0px;
        padding: 50px 150px;
        display: block;
        
    }
    #contenedorMenu {
        padding: 0px 200px;
        
    }
    #navbarNav{
        display: flex;
        justify-content: flex-end;
    }

    #fotoHome{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        width: 300px;
        height: auto;
    }
    .contenedorFooter01{
        margin: 0px;
        padding-top: 50px;
        padding-bottom: 25px;
        color: #e6e8ef;
        display: flex;
        justify-content: space-around;
    }
    #contenedorCards{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    .card{
        background-color: #e6e8ef;
        margin-left: 10px;
        text-align: center;
        border: none;
        border-radius: 10px;
    }
    #redesFooter div .bi{
        font-size: 2.2em;
        padding: 10px;
    }
    nav a span.menus{
        font-size: 1.2em;
    }
    nav a span#tituloMenu{
        font-size: 1.2em;
    }

}

/* Vista Desktop */
@media (min-width: 1200px){
    .contenedorHijo01{
        margin: 0;
        padding: 50px 500px;
        display: block;
        
    }
    #contenedorHijo02{
        padding: 0px 0px;
    }
    #contenedorMenu {
        padding: 0px 300px;
        
    }
    #navbarNav{
        display: flex;
        justify-content: flex-end;
    }

    #fotoHome{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 330px;
        height: auto;
    }
    .contenedorFooter01{
        margin: 0px;
        padding-top: 50px;
        padding-bottom: 25px;
        color: #e6e8ef;
        display: flex;
        justify-content: space-around;
    }
    #contenedorCards{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    .card{
        background-color: #e6e8ef;
        margin-left: 10px;
        text-align: center;
        border: none;
        border-radius: 10px;
    }

    #redesFooter div .bi{
        font-size: 2.4em;
        padding: 10px;
    }


    h5, nav a span.menus{
        font-size: 1.35em;
    }
    nav a span#tituloMenu{
        font-size: 1.35em;
    }

    #lema{
        font-size: 1.2em;
    }

}